{% block nav %}
<!-- Header Navbar -->
<header class="header">
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid d-flex align-items-center justify-content-between">
			<!-- Nav Brand -->
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
					<div class="brand-text brand-big visible"><strong class="text-primary">TDF</strong> <strong>Waitlist</strong></div>
					<div class="brand-text brand-sm"><strong class="text-primary">TDF</strong><strong>Waitlist</strong></div>
				</a>
			</div>
			<!-- End Nav Brand -->
			<!-- Right Nav Bar -->
			<ul class="right-menu list-inline no-margin-bottom">
				<!-- Logout -->
				<li class="list-inline-item logout"><a id="logout" href="/logout" class="nav-link">Logout <i class="icon-logout"></i></a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- Nav - Sidebar -->
<div class="d-flex align-items-stretch">
<nav id="sidebar">
	<div class="sidebar-header d-flex align-items-center">
		<div class="avatar"><img src="https://image.eveonline.com/Character/{{ userProfile.characterID }}_128.jpg" alt="..." class="img-fluid rounded-circle"></div>
		<div class="title">
			<h1 class="h5">{{ userProfile.name }}</h1>
			<p>{{ userProfile.role.title }}</p>
		</div>
	</div>
	<ul class="list-unstyled">
		<li><a href="/"> Waitlist</a></li>
		<li><a href="/my-settings">My Settings</a></li>
		<li> <a href="http://theditanianfleet.com/guide/newbro" target="_blank">Newbro Guide</a></li>
		<li> <a href="http://theditanianfleet.com/guide/joiningfleet" target="_blank">Joining Fleet</a></li>
		<li> <a href="http://dir-x.net/tdf/" target="_blank">Guides</a></li>
		
		{%- if userProfile.role.numeric > 0 %}   
		<li><a href="/commander">Fleet Management</a></li>
		<li{{  " class=active" if sideBarSelected === 6 }}>
		<a href="#fctools" aria-expanded="false" data-toggle="collapse" class="collapsed">FC Tools <i class="fas fa-sort-down float-right"></i></a>
		<ul id="fctools" class="collapse list-unstyled ">
			<li><a href="/commander/tools/fits-scan">Fit Scan Tool</a></li>
			<li><a href="#" onclick="openSearch()" accesskey="s">Pilot Search</a></li>
			<li><a href="/commander/tools/skills">Pilot Skills</a></li>
			<li><a href="#" data-toggle="modal" data-target="#waitlistBanner">Waitlist Banner</a></li>
			<li><a href="/commander/tools/waitlist-logs">Waitlist Log</a></li>
		</ul>
		<li><a href="/admin/bans">Ban List</a></li>
		{% if userProfile.role.numeric >= 4 %}
		<li><a href="/admin/commanders">FC Management</a></li>
		<li><a href="/admin/whitelist">Whitelist</a></li>
		</li>
		{% endif %}
	</ul>
	{% endif %}
	<hr>
	<ul class="list-unstyled">
		<li><a href="#" data-toggle="modal" data-target="#legal">Legal Notices</a></li>
	</ul>
</nav>
{% endblock %}